html
{
	max-height: 100%;
	min-width: 100%;
	margin: 0 auto;
}
body
{
	background:url("images/binding_light.png") repeat center center fixed;
	min-width:100%;
	min-height:100%;
	margin: 0 auto;
	position:relative;
	padding-bottom:315px;
}
#home_container
{
	background-color:gray;
	height:auto;
	width:1050px;
	margin:auto;
	color:white;
	padding-top:20px;
	opacity:0.8;
	padding-bottom:6px;
}
#home_header
{
	color:white;
	text-align:left;
	width:1000px;
	margin:auto;
}
#home_header h4
{
	margin-top: -10px;
}
#home_nav
{
	width:cover;
	background-color:rgb(200, 200, 200);
	margin:auto;
}
#home_nav td
{
	width:210px;
	text-align:center;
	background-color:rgb(200, 200, 200);
	height:42px;
	color:black;
	margin:0 auto;
	cursor:pointer;
}
#home_nav td:hover
{
	background-color:rgb(150, 150, 150);
	color:white;
}
#home_slide_show
{
	height:500px;
	width:1046px;
	background-color:rgb(200, 200, 200);
	margin:auto;
	margin-top:10px;
}
#home_slide_show img
{
	width:100%;
	height:100%;
	cursor:pointer;
	margin-left:-19px;
}
#home_slide_show li
{
	list-style-type:none;
	background-color:gray;
	width:235px;
	display:inline-block;
	height:50px;
	color:white;
	font-size:15px;
	margin-top:-16px;
	text-align:center;
	line-height:50px;
	text-decoration:none;
}
.rslides_nav
{
	z-index:2;
	background-color:gray;
	height:50px;
	line-height:50px;
	text-align:center;
	text-decoration:none;
	color:white;
}
.next
{
	float:right;
	width:42px;
	margin-right:50px;
}
.prev
{
	float:left;
	width:60px;
	margin-left:50px;
}
.rslides_here
{
	background-color:rgb(150, 150, 150);
}
#home_slide_show h1
{
	text-align:center;
	color:black;
}
#home_peek
{
	margin:auto;
	margin-top:60px;
}
#home_products_title
{
	background-color:rgb(200, 200, 200);
	height:75px;
	width:1050px;
	line-height:75px;
	color:black;
	text-align:center;
}
#home_products
{
	width:334px;
	height:325px;
	background-color:rgb(200, 200, 200);
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
#home_products img
{
	width:100%;
	height:100%;
	cursor:pointer;	
}
#home_footer
{
	height:300px;
	width:100%;
	background-color:rgb(200, 200, 200);
	color:black;
	text-align:center;
	padding-top:5px;
	position:absolute;
	bottom:0;
	left:0;
}
/*==============================rslides=========================================================================================*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }