html
{
	max-height: 100%;
	min-width: 100%;
	margin: 0 auto;
}
body
{
	background:url("images/binding_light.png") repeat center center fixed;
	min-width:100%;
	min-height:100%;
	margin: 0 auto;
	position:relative;
	padding-bottom:315px;
}
#home_container
{
	background-color:gray;
	height:auto;
	width:1050px;
	margin:auto;
	color:white;
	padding-top:20px;
	opacity:0.8;
	padding-bottom:6px;
}
#home_header
{
	color:white;
	text-align:left;
	width:1000px;
	margin:auto;
}
#home_header h4
{
	margin-top: -10px;
}
#home_nav
{
	width:cover;
	background-color:rgb(200, 200, 200);
	margin:auto;
}
#home_nav td
{
	width:210px;
	text-align:center;
	background-color:rgb(200, 200, 200);
	height:42px;
	color:black;
	margin:0 auto;
	cursor:pointer;
}
#home_nav td:hover
{
	background-color:rgb(150, 150, 150);
	color:white;
}
#home_slide_show
{
	height:500px;
	width:1046px;
	background-color:rgb(200, 200, 200);
	margin:-11 auto;
	line-height:500px;
}
#home_slide_show img
{
	width:100%;
	height:100%;
}
#home_slide_show h1
{
	text-align:center;
	color:black;
}
#home_peek
{
	margin:10 auto;
}
#home_products_title
{
	background-color:rgb(200, 200, 200);
	height:75px;
	width:1050px;
	line-height:75px;
	color:black;
	text-align:center;
}
#home_products
{
	width:334px;
	height:325px;
	background-color:rgb(200, 200, 200);
	margin-top:10px;
	margin-left:10px;
	display:inline-block;
}
#home_footer
{
	height:300px;
	width:100%;
	background-color:rgb(200, 200, 200);
	color:black;
	text-align:center;
	padding-top:5px;
	position:absolute;
	bottom:0;
	left:0;
}